/* Widths smaller than the 1140px row */
@media only screen and (max-width: 1200px) {
    .hero__text__box{
        width: 100%;
        padding: 0 2%;
    }

    .row{padding: 0 2%;}

}

/* Big tablets */
@media only screen and (max-width: 1023px) {
    .logo{
        height: 80px;
    }

    body{font-size: 18px;}

    section{padding: 60px 0;}

    .presentation__text{
        width: 80%;
        margin-left: 10%;
    }
    .steps__box:last-of-type {margin-top: 30px;}
    .works__step{ margin-bottom: 50px;}
    .works__step:last-of-type{ margin-bottom: 60px;}

    .app__screen{
        width: 60%;
    }

    .plan__box{
        width: 100%;
        margin-left: 0%;
    }
    .plan__price{
        font-size: 250%;
    }

    .contact__form{width: 80%;}
    


}

/* Small tablets like Ipad */
@media only screen and (max-width: 767px) {
    body{ font-size: 16px;}
    section{ padding: 30px;}
    .row,
    .hero__text__box{padding: 0 4%;}
    .col{
        width:100%;
        margin: 0 0 4% 0;} /* columns will be stacked*/

    .presentation__icon{
        font-size: 500%;
        margin-left: 40%;
    }
    /* .navbar{display: none;} */
    .navbar{
        display: none;
        float: left;
        margin-top: 35px;
        margin-left: 25px;}

    .navbar li{
        display: block;
    }

    .navbar li a:link,
    .navbar li a:visited{
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    .mobile__nav{display: inline-block;}
    
    .sticky .navbar {margin-top: 10px;}
    .sticky .navbar li a:link,
    .sticky .navbar li a:visited{
        padding: 10px 0;
        color: rgba(0, 0, 0, 0.835);
    }

    .sticky .mobile__nav{ margin-top: 10px; }
    .sticky .mobile__nav__icon{ color: #555; }

    h1{ font-size: 180%; }
    h2{ font-size: 150%; }
    
    .presentation__text{
        width: 100%;
        margin-left:0;}

    .navbar li{
        margin-left: 15px;
    }

    .plan__price{
        font-size: 180%;
    }

    .app__screen{
        width: 50%;
    }

    
    
    .steps__box:first-child {text-align: center;}
    
    .works__step div{
        height: 40px;
        width: 40px;
        padding: 4px;
        font-size: 120%;
        margin-right: 15px;
    }

    .button__app img{
        width: 150px;
    }


    
}

/* Small phones */
@media only screen and (max-width: 480px) {
    section{padding: 25px 0;}
    .contact__form{width: 100%;}
    .presentation__icon{
        font-size: 400%;
        margin-left: 40%;
    }

    .navbar{
        margin-left: 0;
        margin-right: 5%;
        padding: 0;
    }
    .navbar li {
        font-size: 70%;
    }

    .logo{
        width: 30%;
        height: auto;
        margin: 20px 0;
    }

    .logo__black{
        width: 30%;
        height: auto;
        margin: 2px 0;
    }

    .mobile__nav__icon{
        font-size: 170%;
    }

    .hero__text__box .full__button{
        margin-bottom: 10px;
    }
}